/*Setup for main*/

main {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
}

/*Setup for h2*/
main .header2 {
    font-size: 15pt;
    font-weight:normal;
    text-align: center;
    margin-top: -2em;
    display: grid;
}

/*Setup for .p1*/
.p1 {
    text-align: justify;
    font-size: 13pt;
    line-height: 1.5em;
    display: grid;
}

/*Setup for .header3*/
.header3 {
    font-size: 16pt;
    font-weight:normal;
    text-align: center;
    display: grid;
}

/*Setup for .p2*/
.p2, .p3 {
    text-align: justify;
    font-size: 13pt;
    line-height: 1.5em;
    display: grid;
}

/*Setup for pictures*/
.slider {
    max-width: 100%;
    height: auto;
    display: grid;
}

@media only screen and (min-width: 375px) {
    main .header2 {
        font-size: 13pt;
        text-align: left;
        padding-left: 0.5em;
    }

    .p1 {
        font-size: 12pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .ab1, .ab2 {
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 90%;
    }

    .header3 {
        font-size: 13pt;
        text-align: left;
        padding-left: 0.5em;
    }

    .p2, .p3 {
        font-size: 12pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .slider {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 360px) {
    main .header2 {
        font-size: 13pt;
        text-align: left;
        padding-left: 0.5em;
    }

    .p1 {
        font-size: 12pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .header3 {
        font-size: 13pt;
        text-align: left;
        padding-left: 0.5em;
    }

    .slider {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .p2, .p3 {
        font-size: 12pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 820px) {
    main .header2 {
        font-size: 15pt;
        text-align: center;
        padding-left: 0.5em;
    }

    .ab1, .ab2 {
        padding-left: 0.5em;
        padding-right: 2em;
        width: 80%;
    }

    .p1 {
        font-size: 13pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .header3 {
        font-size: 15pt;
        text-align: center;
        padding-left: 0.5em;
    }

    .p2, .p3 {
        font-size: 13pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 768px) {
    main .header2 {
        font-size: 15pt;
        text-align: center;
        padding-left: 0.5em;
    }

    .ab1, .ab2 {
        padding-left: 0.5em;
        padding-right: 2em;
        width: 70%;
    }

    .p1 {
        font-size: 13pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .header3 {
        font-size: 15pt;
        text-align: center;
        padding-left: 0.5em;
    }

    .p2, .p3 {
        font-size: 13pt;
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 540px) {
    main .header2 {
        font-size: 15pt;
        text-align: center;
        padding-left: 0.5em;
    }

    .ab1, .ab2 {
        padding-left: 0.5em;
        padding-right: 2em;
        width: 65%;
    }

    .header3 {
        font-size: 15pt;
        text-align: center;
        padding-left: 0.5em;
    }
}

@media only screen and (min-width: 1024px) {
    main .header2 {
        font-size: 15pt;
        font-weight:normal;
        text-align: center;
        margin-top: -2em;
        display: grid;
    }
    
    /*Setup for .p1*/
    .p1 {
        text-align: justify;
        font-size: 13pt;
        line-height: 1.5em;
        display: grid;
    }

    .ab1, .ab2 {
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 40%;
    }
    
    /*Setup for .header3*/
    .header3 {
        font-size: 16pt;
        font-weight:normal;
        text-align: center;
        display: grid;
    }
    
    /*Setup for .p2*/
    .p2, .p3 {
        text-align: justify;
        font-size: 13pt;
        line-height: 1.5em;
        display: grid;
    }
    
    /*Setup for pictures*/
    .slider {
        max-width: auto;
        height: auto;
        display: grid;
    }
}