header {
    text-align: center;
    color: #f3f0f0;
    text-shadow: 1px 1px 2px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 40px 0;
    /* background-color: antiquewhite; */
    background-image: url(/images/header/alaska-yukon-boundary-1-1389371.jpg);
    background-size: 100%;
    width: 100%;
        
}



