/*Setup for main*/

main {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
}

/*Setup for h2*/
main .header2 {
    font-size: 30pt;
    font-weight:normal;
    margin-top: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    text-indent: 410px;
    display: flex;
    flex-wrap: wrap;
}

/*Setup for .p1*/
.p1 {
    text-align: center;
    font-size: 15pt;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

/*Setup for .header3*/
.header3 {
    font-size: 22pt;
    font-weight:normal;
    text-align: center;
    text-indent: 430px;
    display: flex;
    flex-wrap: wrap;
}

/*Setup for .p2*/
.p2, .p3 {
    text-align: left;
    font-size: 13pt;
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 280px) {
    
    main .header2 {
        font-size: 15pt;
        text-align: left;
        text-indent: 0.5em;
    }

    .ab1, .ab2, .whowe {
        display: block;
        align-items: left;
        padding-left: 0.5em;
    }

    .p1{
        text-align: left;
        font-size: 11pt;
        padding-left: 0.5em;
    }

    .header3 {
        font-size: 14pt;
        text-align: left;
        text-indent: 0.5em;
    }

    .p2, .p3 {
        text-align: left;
        font-size: 11pt;
        padding-left: 0.5em;
    }

}

@media only screen and (min-width: 360px) {
    
    main .header2 {
        font-size: 15pt;
        text-align: left;
        text-indent: 0.5em;
    }

    .ab1, .ab2, .whowe {
        display: block;
        align-items: left;
        padding-left: 0.5em;
    }

    .p1{
        text-align: left;
        font-size: 11pt;
        padding-left: 0.5em;
    }

    .header3 {
        font-size: 14pt;
        text-align: left;
        text-indent: 0.5em;

    }

    .p2, .p3 {
        text-align: left;
        font-size: 11pt;
        padding-left: 0.5em;
    }
}

@media only screen and (min-width: 375px) {
    
    main .header2 {
        font-size: 15pt;
        text-align: left;
        padding-left: 1em;
    }

    .ab1, .ab2, .whowe {
        display: block;
        align-items: left;
        padding-left: 1em;
        width: 70%;
    }

    .p1{
        text-align: left;
        font-size: 11pt;
        padding-left: 1em;
    }

    .header3 {
        font-size: 14pt;
        text-align: center;
        text-indent: 0.5em;
        padding-left: 1em;

    }

    .p2, .p3 {
        text-align: left;
        font-size: 11pt;
        padding-left: 1em;
    }
}

@media only screen and (min-width: 1024px) { 
    
    main .header2 {
        font-size: 22pt;
        font-weight:normal;
        margin-top: 0.75em;
        margin-bottom: 8px;
        text-align: center;
        text-indent: 430px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .ab1, .ab2 {
        width: 40%;
        display: inline;
    }

    .whowe {
        width: 60%;
        align-items: center;
        display: inline;
    }

    .p1{
        text-align: justify;
        font-size: 14pt;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 1.5em;
        display: flex;
        flex-wrap: wrap;
    }
    
    .header3 {
        font-size: 22pt;
        font-weight:normal;
        text-align: justify;
        margin-bottom: 5px;
        text-indent: 430px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .p2, .p3 {
        text-align: justify;
        font-size: 13pt;
        line-height: 1.5em;
        display: flex;
        flex-wrap: wrap;
    }

}